#footer-quienes {
    background-color: $hfcolor;
    padding: 20px;
    margin-top: 113px;

    #seguinos {
        font-family: 'Shrikhand', cursive;
        margin-top: 8px;
        color: $texthfcolor;
    }

    .fa-twitter {
        color: $texthfcolor;
    }

    .fa-facebook {
        color: $texthfcolor;
    }

    .fa-instagram {
        color: $texthfcolor;
    }
    .fa-whatsapp {
        color: $texthfcolor;
    }

}