#body-contacto {
    background-color: wheat;
}

#main-contacto {

    h1 {
        font-family: "Shrikhand", cursive;
        color: #D4908E;
    }

    #texto-contacto {
        p {
            background-color: #D4908E;
        }
    }

}

.nombre {
    label {
        font-family: "Arvo", serif;

    }
}

.mail{
    label{
  font-family: "Arvo", serif;

    }
}

legend{
  font-family: "Arvo", serif;

}