@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Aboreto&family=Arvo:ital@1&family=Mouse+Memoirs&family=Pacifico&family=Shrikhand&family=Silkscreen&display=swap");
header {
  background-color: #F6E3DF;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
header #logo {
  font-family: "Shrikhand", cursive;
  color: #D4908E;
  -webkit-animation: slide-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
          animation: slide-in-left 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}
header .pestañas a {
  color: #D4908E;
  -webkit-animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.hero {
  background-color: #D4908E;
  height: 90vh;
}
.hero #bienvenidos {
  background-color: #F6E3DF;
  color: #D4908E;
  font-family: "Arvo", serif;
  -webkit-animation: color-change-2x 10s linear infinite alternate both;
          animation: color-change-2x 10s linear infinite alternate both;
}

.miranos {
  background-color: #F6E3DF;
}
.miranos #miralo {
  color: #D4908E;
  font-family: "Arvo", serif;
}

#body-index {
  background-image: radial-gradient(circle, #F6E3DF, #ebb2af, #8f6968);
}

#muestra1, #muestra6, #muestra5, #muestra4, #muestra3, #muestra2 {
  height: 250px;
}

#body-contacto {
  background-color: wheat;
}

#main-contacto h1 {
  font-family: "Shrikhand", cursive;
  color: #D4908E;
}
#main-contacto #texto-contacto p {
  background-color: #D4908E;
}

.nombre label {
  font-family: "Arvo", serif;
}

.mail label {
  font-family: "Arvo", serif;
}

legend {
  font-family: "Arvo", serif;
}

#body-quienes {
  background-color: #D4908E;
}

section h1 {
  font-family: "Arvo", serif;
}
section #parrafo-quienes {
  border: 4px solid black;
  border-radius: 20px;
  background-color: aqua;
  padding: 10px;
  background-color: beige;
  font-weight: bold;
}

#body-como-comprar {
  background-color: bisque;
}

#body-productos {
  background-image: radial-gradient(bisque, wheat, pink);
}

h3 {
  background-color: #D4908E;
  font-family: "Arvo", serif;
}

#footer-como-comprar {
  margin-top: 123px;
}

footer {
  background-color: #F6E3DF;
  padding: 20px;
  margin-top: 113px;
}
footer #seguinos {
  font-family: "Shrikhand", cursive;
  margin-top: 8px;
  color: #D4908E;
}

.fa-twitter {
  background-color: blue;
}

.fa-facebook {
  background-color: yellow;
}

.fa-instagram {
  background-color: red;
}

.fa-whatsapp {
  background-color: green;
}

.fa-twitter {
  color: #D4908E;
  width: 75px;
  height: 35px;
}

.fa-facebook {
  color: #D4908E;
  width: 75px;
  height: 35px;
}

.fa-instagram {
  color: #D4908E;
  width: 75px;
  height: 35px;
}

.fa-whatsapp {
  color: #D4908E;
  width: 75px;
  height: 35px;
}

@-webkit-keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}/*# sourceMappingURL=estilos.css.map */